.orange-color{
    color: orange;
}
#first-border{
    border-left: 2px solid;
    border-image: linear-gradient(blue,yellow);
    border-image-slice: 1;
}
body{
    font-family: font-family: 'Poppins', sans-serif;
    margin: 0;
}